option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  # Point the app root to the public/ folder.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  # Set here your php.ini `memory_limit` value.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 256M

container_commands:
  00_copy_env_file:
    command: "mv /tmp/.env /var/app/staging/.env"
  01_install_composer_dependencies:
    command: "sudo php /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/staging"

  04_link_storage_folder:
    command: "php artisan storage:link"
    cwd: "/var/app/staging"

  05_run_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/staging"
    leader_only: true

  06_run_migrations:
    command: "php artisan key:generate"
    cwd: "/var/app/staging"

  08_queue_service_restart:
    command: "systemctl restart laravel_worker"
files:
  /opt/elasticbeanstalk/tasks/taillogs.d/laravel-logs.conf:
    content: /var/app/current/storage/logs/laravel.log
    group: root
    mode: "000755"
    owner: root
  /etc/systemd/system/laravel_worker.service:
    mode: "000755"
    owner: root
    group: root
    content: |
      # Laravel queue worker using systemd
      # ----------------------------------
      #
      # /lib/systemd/system/queue.service
      #
      # run this command to enable service:
      # systemctl enable queue.service

      [Unit]
      Description=Laravel queue worker

      [Service]
      User=nginx
      Group=nginx
      Restart=always
      ExecStart=/usr/bin/nohup /usr/bin/php /var/app/current/artisan queue:work --tries=3 --daemon

      [Install]
      WantedBy=multi-user.target
